*{
    margin: 0;
    padding: 0;
}
nav img {
    width: 100px;
    
}
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: flex-end;

}
.conf-bs-as img{
    width: 100%;
    height: 600px;
    position: relative;
}
#img-octubre{
    width: 100%;
}

#bs-octubre-descripcion{
    background-color: #6c757d;
    color: white;
    
}
.nav-link{
    color: #658cb3;
}
#compra-tickets{
    color: #20c997;
}
#la-conferencia{
    color: #fff;
}
.footer{
    
    background-color: #2d4a52;
    color: white;
    
}
.mb-3{
    text-align: center;
}
.oradores-titulo{
    text-align: center;
}
.footer-list{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    height: 100px;
    align-items: center;
}
.btn-success {
    color: #fff;
    background-color: #6FD513;
    border-color: #6FD513;
    width: 50%;
    height: 55px;
    
}

.titulos-formularios{
    text-align: center;
}


.container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.conf-bsas{
    padding: 300px;
    text-align: end;
    background-image: url('./imagenes/ba1.jpg');
    background-color: rgb(48, 47, 47);
    background-blend-mode: soft-light;
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    
    color: white;
}
#btn-conf-comprartickets{
    width: 11%;
    background-color: #317f43;
    border-color: #317f43;
}
#btn-conf-quieroser{
    width: 12%;
    text-align: center;
}
h1{
    display: flex;
    justify-content: flex-end;
    padding-right: 200px;
}
.botones-conf{
    display: flex;
    justify-content: flex-end;
    padding-right: 200px;
}